h1 {
    color: white;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0px;
    background: var(--grass);
    overflow: hidden;
}

#cover {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    background: var(--blueprint);
}

#cover > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cover > div > h1 {
    font-size: 4vw;
    text-align: center;
}

#coverTitle {
    margin-top: 7vh;
    height: 10vw;
}

#coverImage {
    margin-bottom: 7vh;
}

#logo {
    width: 60%;
}

#menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 35vw;
    margin: 8vh 0vw 0vh 0vw;
}

#menu > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8vh;
}

#menu > div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu h1 {
    font-size: 3vw;
}

.menu-input {
    width: 12.5vw;
    height: 120%;
    margin-right: 0.5vw;
    font-size: 1.5vw;
    text-align: center;
    border: 2px solid black;
    border-radius: 7px;
}

.menu-button {
    width: 10vw;
    height: 120%;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    border: 2px solid var(--dark-bamboo);
    border-radius: 7px;
    background-color: var(--bamboo);
}