body {
    background: var(--dark-bamboo);
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#results > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

canvas:focus {
    outline: none;
}

#referenceCanvas {
    border: 3px solid black;
    margin: 0% !important;
}

#drawingResults {
    width: 30vw;
    height: 30vw;
    border: 3px solid black;
}

#drawResult {
    width: 100%;
    height: 100%;
}

#buildResult {
    border: 3px solid black;
    margin: 0% !important;
}